@font-face {
  font-family: "Quarto";
  src: url("/fonts/Quarto-Bold.woff2") format("woff2"),
    url("/fonts/Quarto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Light.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Demi.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Bold.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Extended";
  src: url("/fonts/MaisonNeue-ExtendedExtraThin.woff2") format("woff2"),
    url("/fonts/MaisonNeue-ExtendedExtraThin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Extended";
  src: url("/fonts/MaisonNeue-ExtendedExtraThinIt.woff2") format("woff2"),
    url("/fonts/MaisonNeue-ExtendedExtraThinIt.woff") format("woff");
  font-weight: 200;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Maison Extended";
  src: url("/fonts/MaisonNeue-ExtendedExtraBold.woff2") format("woff2"),
    url("/fonts/MaisonNeue-ExtendedExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #111111;
  --blue: #0c3cb4;
  --white: #fdfdfd;
  --orange: #ffab00;
  --lighttan: #fff7ea;
  --tan: #ffebcb;
  --header-font: "Maison Extended", sans-serif;
  --body-font: "Maison Neue", sans-serif;
  --side-padding: 55px;
  --lg-font-size: 5.493rem;
  --lg-font-size-mobile: 3.516rem;
  --font-size: 1.8rem;
  --container-max-width: 1280px;
}

@media all and (max-width: 600px) {
  :root {
    --side-padding: 22px;
  }
}

html,
body {
  background: var(--tan);
  color: var(--black);
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: var(--body-font);
  height: 100%;
  min-height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
}

figure {
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
  min-height: -webkit-fill-available;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a,
a:visited {
  color: var(--blue);
}
