@font-face {
  font-family: "Quarto";
  src: url("/fonts/Quarto-Bold.woff2") format("woff2"),
    url("/fonts/Quarto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Light.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Demi.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Bold.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #111111;
  --blue: #0c3cb4;
  --white: #fdfdfd;
  --orange: #ffab00;
  /* --tan: #fff7ea; */
  --tan: #ffebcb;
}

html,
body {
  background: var(--tan);
  color: var(--black);
  padding: 0;
  margin: 0;
  font-family: "Maison Neue", sans-serif;
}
